In [1]:
import requests
import numpy as np
from bs4 import BeautifulSoup
import pandas as pd
import json

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_10156\3415857743.py:4: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [6]:
def Cars_Scrapping():
    title = []
    prices = []
    model = []
    Km_Driven = []
    Engine_type = []
    CC = []
    Transmission = []

    for i in range(1, 2132):
        url = f'https://www.pakwheels.com/used-cars/search/-/?page={i}'
        response_car = requests.get(url)
        soup_car = BeautifulSoup(response_car.text, 'html.parser')
        
        all_divs = soup_car.find_all('div', {'class': 'col-md-9 grid-style'})
        
        for all_div in all_divs:
            try:
                price = all_div.find('div', {'class': 'price-details generic-dark-grey'}).text.strip()
                if 'corer' in price:
                    price = price * 100
                price = price.replace('PKR', '').replace('lacs', '').replace('crore', '').replace('Call', '').strip()

                if price:
                    prices.append(price)
                else:
                    prices.append(np.nan)
                
            except AttributeError:
                price = None
        
            all_h3_tags = all_div.find_all('h3')
            
            for h3_tag in all_h3_tags:
                titles = h3_tag.text.strip()
                if titles:
                    title.append(titles)
                else:
                    title.append(np.nan)

                t = all_div.find_all('li')

                models = t[1].text.strip()
                if models:
                    model.append(models)
                else:
                    model.append(np.nan)

                Km_Drivens = t[2].text.strip()
                if Km_Drivens:
                    Km_Driven.append(Km_Drivens)
                else:
                    Km_Driven.append(np.nan)

                Engine_types = t[3].text.strip()
                if Engine_types:
                    Engine_type.append(Engine_types)
                else:
                    Engine_type.append(np.nan)
                        
                CCs = t[4].text.strip()
                if CCs:
                    CC.append(CCs)
                else:
                    CC.append(np.nan)
                        
                Transmissions = t[5].text.strip()
                if Transmissions:
                    Transmission.append(Transmissions)
                else:
                    Transmission.append(np.nan)
                
    return title, prices, model, Km_Driven, Engine_type, CC, Transmission
    
title, prices, model, Km_Driven, Engine_type, CC, Transmission = Cars_Scrapping()

Data = {
    'Title': title,
    'Model': model,
    'CC': CC,
    'Engine_type': Engine_type,
    'Transmission': Transmission,
    'Km_Driven': Km_Driven,
    'prices': prices
}

df = pd.DataFrame(Data)
df.to_csv(r"C:\Users\Lenovo\Desktop\All files\Pak Wheels Car Data2.csv")

In [3]:
df = pd.read_csv(r"C:\Users\Lenovo\Desktop\All files\Pak Wheels Car Data2.csv")
df

,Unnamed: 0,Title,Model,CC,Engine_type,Transmission,Km_Driven,prices
0,0,Mitsubishi EK X 2024 Sports for Sale,2024,659 cc,Petrol,Automatic,"9,000 km",37.5
1,1,Toyota C-HR 2018 G for Sale,2018,1800 cc,Hybrid,Automatic,"40,181 km",85
2,2,Toyota Corolla Axio 2020 Hybrid 1.5 for Sale,2020,1500 cc,Hybrid,Automatic,"69,500 km",69
3,3,Honda N Wgn 2024 G for Sale,2024,660 cc,Petrol,Automatic,"9,000 km",25.5
4,4,Toyota Land Cruiser 2002 VX Limited 4.2D for ...,2002,4200 cc,Diesel,Automatic,"662,000 km",72
...,...,...,...,...,...,...,...,...
60244,60244,MG HS 2021 Trophy for Sale,2021,1500 cc,Petrol,Automatic,"18,000 km",69.5
60245,60245,Toyota Corolla 9th Generation 2003 GLi 1.3 for...,2003,1300 cc,Petrol,Manual,"179,000 km",16
60246,60246,MG HS 2021 1.5 Turbo for Sale,2021,1500 cc,Petrol,Automatic,"28,000 km",69
60247,60247,Toyota Prado 1997 TZ 3.0D for Sale,1997,3000 cc,Diesel,Automatic,"285,000 km",58
60248,60248,Suzuki Khyber 1984 for Sale,1984,1000 cc,CNG,Manual,"100,000 km",5.2

In [8]:
df.shape

(60249, 8)

In [34]:
x = 5
print(isinstance(x, int))  # Output: True
print(isinstance(x, float))  # Output: False

True
False

In [ ]:
url = 'https://www.pakwheels.com/used-cars/search/-/?page=1'
response_car = requests.get(url)
soup_car = BeautifulSoup(response_car.text, 'html.parser')
s = soup_car.find_all('div', {'class' : 'col-md-9 grid-style'})


for i in s:
    
    t = i.find_all('li')
    print(t[1].text.strip())

In [3]:
all_data = []

url = 'https://www.pakwheels.com/used-cars/search/-/?page=1'
response_car = requests.get(url)
soup_car = BeautifulSoup(response_car.text, 'html.parser')
script_tags = soup_car.find_all('script')
target_script = None
        
for script in script_tags:
    if 'application/ld+json' in script.get('type', ''):
        target_script = script
        break
if target_script:
    json_data = json.loads(target_script.string)
    if 'itemListElement' in json_data:
        items = json_data['itemListElement']
        for item in items:
            if "url" in item:
                all_data.append(item['url'])

data_rows = []

for url1 in all_data:
    response_car1 = requests.get(url1)
    soup_car1 = BeautifulSoup(response_car1.text, 'html.parser')
    ul = soup_car1.find('ul', {'class': 'list-unstyled ul-featured clearfix'})
    if ul:
        car_data = {}
        li_tags = ul.find_all('li', {'class': 'ad-data'})
        for li in li_tags:
            key = li.get_text(strip=True)
            value = li.find_next_sibling('li').get_text(strip=True)
            car_data[key] = value
        data_rows.append(car_data)

# Create DataFrame
df = pd.DataFrame(data_rows)

# Display DataFrame
df

,Registered In,Color,Assembly,Engine Capacity,Body Type,Last Updated:,Ad Ref #
0,Punjab,White,Local,1300 cc,Sedan,"Mar 15, 2024",8458472
1,Lahore,Super White,Local,1300 cc,Sedan,"Mar 15, 2024",8458432
2,Lahore,Black,Local,2700 cc,SUV,"Mar 15, 2024",8456818
3,Un-Registered,Green,Imported,660 cc,Convertible,"Mar 15, 2024",8475610
4,Punjab,Diamon Silver Metallic,Imported,1500 cc,Sedan,"Mar 15, 2024",8490992
5,Islamabad,White,Local,800 cc,Van,"Mar 15, 2024",7910491
6,Islamabad,Pearl White,Imported,1500 cc,Hatchback,"Mar 15, 2024",8244568
7,Un-Registered,Metallic Torino Red,Imported,660 cc,Hatchback,"Mar 15, 2024",8433668
8,Punjab,white,Imported,1600 cc,Sedan,"Mar 15, 2024",7805345
9,Islamabad,Silver,Imported,1500 cc,Hatchback,"Mar 15, 2024",8237288
10,Islamabad,White,Local,1500 cc,Crossover,"Mar 15, 2024",8365272
11,Islamabad,White,Local,1300 cc,Hatchback,"Mar 15, 2024",8429918
12,Islamabad,Silver,Local,2000 cc,Sedan,"Mar 15, 2024",8492241
13,Punjab,Blue,Imported,1500 cc,Sedan,"Mar 15, 2024",8385140
14,Lahore,White,Local,1300 cc,Sedan,"Mar 15, 2024",8492239
15,Swat,Black,Local,1600 cc,N/A,"Mar 15, 2024",8488489
16,Punjab,Silver,Local,660 cc,Hatchback,"Mar 15, 2024",8492232
17,Lahore,White,Local,1300 cc,Sedan,"Mar 15, 2024",8423473
18,Punjab,Red,Imported,1500 cc,Crossover,"Mar 15, 2024",8484851
19,Islamabad,White,Imported,1000 cc,Hatchback,"Mar 15, 2024",8492235
20,Islamabad,Silver Metallic,Imported,996 cc,Hatchback,"Mar 15, 2024",8492234
21,Karachi,White,Imported,2000 cc,Mini Van,"Mar 15, 2024",8492233
22,Islamabad,White,Imported,2200 cc,N/A,"Mar 15, 2024",8370121
23,Islamabad,White,Local,1800 cc,Sedan,"Mar 15, 2024",8321085
24,Punjab,Super White,Local,3000 cc,Double Cabin,"Mar 15, 2024",8448845

In [72]:
all_data = []

url = 'https://www.pakwheels.com/used-cars/search/-/?page=1'
response_car = requests.get(url)
soup_car = BeautifulSoup(response_car.text, 'html.parser')
s = soup_car.find('ul', {'class_' : 'price-box'})
print(s)

None

In [1]:
from selenium import webdriver
from bs4 import BeautifulSoup

url = 'https://www.pakwheels.com/used-cars/search/-/?page=1'

# Initialize a WebDriver (assuming you have ChromeDriver installed)
driver = webdriver.Firef()

# Load the URL
driver.get(url)

# Get the page source after JavaScript execution
page_source = driver.page_source

# Close the WebDriver
driver.quit()

# Parse the page source with BeautifulSoup
soup = BeautifulSoup(page_source, 'html.parser')

# Find the desired element
s = soup.find('ul', class_='price-box')
print(s)

None